<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>abvs1</key>
    <array/>
    <key>abvs2</key>
    <array/>
    <key>abvs3</key>
    <array/>
    <key>abvs4</key>
    <array>
      <string>ashortdeva</string>
    </array>
    <key>abvs5</key>
    <array/>
    <key>abvs6</key>
    <array/>
    <key>abvs7</key>
    <array/>
    <key>blws1</key>
    <array/>
    <key>blws2</key>
    <array/>
    <key>blws3</key>
    <array/>
    <key>blws4</key>
    <array/>
    <key>blws5</key>
    <array/>
    <key>blws6</key>
    <array/>
    <key>blws7</key>
    <array/>
    <key>blws8</key>
    <array/>
    <key>blws9</key>
    <array/>
    <key>class0</key>
    <array/>
    <key>class1</key>
    <array/>
    <key>class169</key>
    <array/>
    <key>class171</key>
    <array/>
    <key>class173</key>
    <array/>
    <key>class175</key>
    <array/>
    <key>class177</key>
    <array/>
    <key>class193</key>
    <array/>
    <key>class197</key>
    <array/>
    <key>class199</key>
    <array/>
    <key>class2</key>
    <array/>
    <key>class201</key>
    <array/>
    <key>class217</key>
    <array/>
    <key>class219</key>
    <array/>
    <key>class221</key>
    <array/>
    <key>class223</key>
    <array/>
    <key>class225</key>
    <array/>
    <key>class239</key>
    <array/>
    <key>class241</key>
    <array/>
    <key>class243</key>
    <array/>
    <key>class245</key>
    <array/>
    <key>class247</key>
    <array/>
    <key>class253</key>
    <array/>
    <key>class255</key>
    <array/>
    <key>class275</key>
    <array/>
    <key>class277</key>
    <array/>
    <key>class289</key>
    <array/>
    <key>class291</key>
    <array/>
    <key>class293</key>
    <array/>
    <key>class295</key>
    <array/>
    <key>class297</key>
    <array/>
    <key>class3</key>
    <array/>
    <key>class314</key>
    <array/>
    <key>class316</key>
    <array/>
    <key>class331</key>
    <array/>
    <key>class333</key>
    <array/>
    <key>class335</key>
    <array/>
    <key>class349</key>
    <array/>
    <key>class351</key>
    <array/>
    <key>class353</key>
    <array/>
    <key>class355</key>
    <array/>
    <key>class411</key>
    <array/>
    <key>class413</key>
    <array/>
    <key>class425</key>
    <array/>
    <key>class429</key>
    <array/>
    <key>class443</key>
    <array/>
    <key>class445</key>
    <array/>
    <key>class457</key>
    <array/>
    <key>class459</key>
    <array/>
    <key>class461</key>
    <array/>
    <key>class487</key>
    <array/>
    <key>class499</key>
    <array/>
    <key>class543</key>
    <array/>
    <key>class575</key>
    <array/>
    <key>class577</key>
    <array/>
    <key>class593</key>
    <array/>
    <key>class619</key>
    <array/>
    <key>class624</key>
    <array/>
    <key>class625</key>
    <array/>
    <key>class626</key>
    <array/>
    <key>class627</key>
    <array/>
    <key>class628</key>
    <array/>
    <key>class639</key>
    <array/>
    <key>class641</key>
    <array/>
    <key>class643</key>
    <array/>
    <key>class679</key>
    <array/>
    <key>class737</key>
    <array/>
  </dict>
</plist>
