<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>NULL</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>aadeva</string>
		<string>aanuktadeva</string>
		<string>aavowelsigndeva</string>
		<string>abbreviationsigndeva</string>
		<string>acandraanusvaradeva</string>
		<string>acandradeva</string>
		<string>acandranuktaanusvaradeva</string>
		<string>acandranuktadeva</string>
		<string>adeva</string>
		<string>aianusvaradeva</string>
		<string>aideva</string>
		<string>ainuktaanusvaradeva</string>
		<string>ainuktadeva</string>
		<string>aivowelsignanusvaradeva</string>
		<string>aivowelsigncandrabindudeva</string>
		<string>aivowelsigndeva</string>
		<string>aivowelsignrephanusvaradeva</string>
		<string>aivowelsignrephdeva</string>
		<string>ampersand</string>
		<string>anudattadeva</string>
		<string>anuktadeva</string>
		<string>anusvaradeva</string>
		<string>asciicircum.deva</string>
		<string>asciitilde.deva</string>
		<string>ashortanusvaradeva</string>
		<string>ashortdeva</string>
		<string>ashortnuktaanusvaradeva</string>
		<string>ashortnuktadeva</string>
		<string>asterisk.deva</string>
		<string>at</string>
		<string>auanusvaradeva</string>
		<string>audeva</string>
		<string>aunuktaanusvaradeva</string>
		<string>aunuktadeva</string>
		<string>auvowelsignanusvaradeva</string>
		<string>auvowelsigncandrabindudeva</string>
		<string>auvowelsigndeva</string>
		<string>auvowelsignrephanusvaradeva</string>
		<string>auvowelsignrephdeva</string>
		<string>avagrahadeva</string>
		<string>b</string>
		<string>babardeva</string>
		<string>backslash.deva</string>
		<string>badeva</string>
		<string>banuktadeva</string>
		<string>banuktaprehalfdeva</string>
		<string>banuktaradeva</string>
		<string>banuktaraprehalfdeva</string>
		<string>baprehalfdeva</string>
		<string>bar.deva</string>
		<string>baradeva</string>
		<string>baraprehalfdeva</string>
		<string>bhadeva</string>
		<string>bhanuktadeva</string>
		<string>bhanuktaprehalfdeva</string>
		<string>bhanuktaradeva</string>
		<string>bhanuktaraprehalfdeva</string>
		<string>bhaprehalfdeva</string>
		<string>bharadeva</string>
		<string>bharaprehalfdeva</string>
		<string>braceleft.deva</string>
		<string>braceright.deva</string>
		<string>bracketleft.deva</string>
		<string>bracketright.deva</string>
		<string>c</string>
		<string>cadeva</string>
		<string>candrabindudeva</string>
		<string>candrabindusmalldeva</string>
		<string>canuktadeva</string>
		<string>canuktaprehalfdeva</string>
		<string>canuktaradeva</string>
		<string>canuktaraprehalfdeva</string>
		<string>caprehalfdeva</string>
		<string>caradeva</string>
		<string>caraprehalfdeva</string>
		<string>chaaltdeva</string>
		<string>chadeva</string>
		<string>chanuktaaltdeva</string>
		<string>chanuktadeva</string>
		<string>chanuktaprehalfdeva</string>
		<string>chanuktaradeva</string>
		<string>chanuktaraprehalfdeva</string>
		<string>chaprehalfdeva</string>
		<string>charadeva</string>
		<string>charaprehalfdeva</string>
		<string>chayadeva</string>
		<string>colon.deva</string>
		<string>comma.deva</string>
		<string>d</string>
		<string>dabadeva</string>
		<string>dabhaaltdeva</string>
		<string>dabhadeva</string>
		<string>dadaaltdeva</string>
		<string>dadadeva</string>
		<string>dadeva</string>
		<string>dadhadeva</string>
		<string>dadhayadeva</string>
		<string>dagadeva</string>
		<string>daghadeva</string>
		<string>damadeva</string>
		<string>dandadeva</string>
		<string>danuktadeva</string>
		<string>danuktaprehalfdeva</string>
		<string>danuktaradeva</string>
		<string>danuktaraprehalfdeva</string>
		<string>danuktarvocalicdeva</string>
		<string>danuktaudeva</string>
		<string>danuktauudeva</string>
		<string>daprehalfdeva</string>
		<string>daradeva</string>
		<string>daraprehalfdeva</string>
		<string>darvocalicdeva</string>
		<string>daudeva</string>
		<string>dauudeva</string>
		<string>davadeva</string>
		<string>dayadeva</string>
		<string>dayaprehalfdeva</string>
		<string>dbldandadeva</string>
		<string>ddaaltdeva</string>
		<string>ddabardeva</string>
		<string>ddaddadeva</string>
		<string>ddaddauudeva</string>
		<string>ddaddhadeva</string>
		<string>ddadeva</string>
		<string>ddanuktaprehalfdeva</string>
		<string>ddanuktaradeva</string>
		<string>ddanuktaraprehalfUIdeva</string>
		<string>ddanuktaraprehalfdeva</string>
		<string>ddaprehalfdeva</string>
		<string>ddaradeva</string>
		<string>ddaraprehalfUIdeva</string>
		<string>ddaraprehalfdeva</string>
		<string>ddayadeva</string>
		<string>dddhaaltdeva</string>
		<string>dddhadeva</string>
		<string>ddhaaltdeva</string>
		<string>ddhaddhadeva</string>
		<string>ddhadeva</string>
		<string>ddhanuktaprehalfdeva</string>
		<string>ddhanuktaradeva</string>
		<string>ddhanuktaraprehalfUIdeva</string>
		<string>ddhanuktaraprehalfdeva</string>
		<string>ddhaprehalfdeva</string>
		<string>ddharadeva</string>
		<string>ddharaprehalfUIdeva</string>
		<string>ddharaprehalfdeva</string>
		<string>ddhayadeva</string>
		<string>dhadeva</string>
		<string>dhanuktadeva</string>
		<string>dhanuktaprehalfdeva</string>
		<string>dhanuktaradeva</string>
		<string>dhanuktaraprehalfdeva</string>
		<string>dhaprehalfdeva</string>
		<string>dharadeva</string>
		<string>dharaprehalfdeva</string>
		<string>divide.deva</string>
		<string>dollar</string>
		<string>dummymarkdeva</string>
		<string>e</string>
		<string>ecandraanusvaradeva</string>
		<string>ecandradeva</string>
		<string>ecandranuktaanusvaradeva</string>
		<string>ecandranuktadeva</string>
		<string>ecandravowelsignanusvaradeva</string>
		<string>ecandravowelsigncandrabindudeva</string>
		<string>ecandravowelsigndeva</string>
		<string>ecandravowelsignrephanusvaradeva</string>
		<string>ecandravowelsignrephanusvardeva</string>
		<string>ecandravowelsignrephdeva</string>
		<string>edeva</string>
		<string>eight.deva</string>
		<string>eightdeva</string>
		<string>ellipsis.deva</string>
		<string>emdash.deva</string>
		<string>endash.deva</string>
		<string>enuktadeva</string>
		<string>equal.deva</string>
		<string>eshortanusvaradeva</string>
		<string>eshortdeva</string>
		<string>eshortnuktaanusvaradeva</string>
		<string>eshortnuktadeva</string>
		<string>eshortvowelsignanusvaradeva</string>
		<string>eshortvowelsigncandrabindudeva</string>
		<string>eshortvowelsigndeva</string>
		<string>eshortvowelsignrephanusvarade</string>
		<string>eshortvowelsignrephdeva</string>
		<string>evowelsignanusvaradeva</string>
		<string>evowelsigncandrabindudeva</string>
		<string>evowelsigndeva</string>
		<string>evowelsignrephanusvaradeva</string>
		<string>evowelsignrephdeva</string>
		<string>exclam.deva</string>
		<string>f</string>
		<string>fadeva</string>
		<string>five.deva</string>
		<string>fivedeva</string>
		<string>four.deva</string>
		<string>fourdeva</string>
		<string>g</string>
		<string>gabardeva</string>
		<string>gadeva</string>
		<string>ganuktaprehalfdeva</string>
		<string>ganuktaradeva</string>
		<string>ganuktaraprehalfdeva</string>
		<string>gaprehalfdeva</string>
		<string>garadeva</string>
		<string>garaprehalfdeva</string>
		<string>ghadeva</string>
		<string>ghanuktadeva</string>
		<string>ghanuktaprehalfdeva</string>
		<string>ghanuktaradeva</string>
		<string>ghanuktaraprehalfdeva</string>
		<string>ghaprehalfdeva</string>
		<string>gharadeva</string>
		<string>gharaprehalfdeva</string>
		<string>ghhadeva</string>
		<string>grave</string>
		<string>greater.deva</string>
		<string>h</string>
		<string>hadeva</string>
		<string>haladeva</string>
		<string>hamadeva</string>
		<string>hanadeva</string>
		<string>hannadeva</string>
		<string>hanuktadeva</string>
		<string>hanuktaprehalfdeva</string>
		<string>hanuktaradeva</string>
		<string>hanuktaraprehalfdeva</string>
		<string>hanuktarrvocalicdeva</string>
		<string>hanuktarvocalicdeva</string>
		<string>hanuktaudeva</string>
		<string>hanuktauudeva</string>
		<string>haprehalfdeva</string>
		<string>haradeva</string>
		<string>haraprehalfdeva</string>
		<string>harauUIdeva</string>
		<string>haraudeva</string>
		<string>harauuUIdeva</string>
		<string>harauudeva</string>
		<string>harrvocalicdeva</string>
		<string>harvocalicdeva</string>
		<string>hauUIdeva</string>
		<string>haudeva</string>
		<string>hauuUIdeva</string>
		<string>hauudeva</string>
		<string>havadeva</string>
		<string>hayadeva</string>
		<string>hyphen.deva</string>
		<string>i</string>
		<string>ideva</string>
		<string>iianusvaradeva</string>
		<string>iideva</string>
		<string>iinuktaanusvaradeva</string>
		<string>iinuktadeva</string>
		<string>iivowelcandrabindu1deva</string>
		<string>iivowelcandrabindu2deva</string>
		<string>iivowelcandrabindu3deva</string>
		<string>iivowelcandrabindudeva</string>
		<string>iivowelsign1deva</string>
		<string>iivowelsign2deva</string>
		<string>iivowelsign3deva</string>
		<string>iivowelsignanusvara1deva</string>
		<string>iivowelsignanusvara2deva</string>
		<string>iivowelsignanusvara3deva</string>
		<string>iivowelsignanusvaradeva</string>
		<string>iivowelsigndeva</string>
		<string>iivowelsignreph1deva</string>
		<string>iivowelsignreph2deva</string>
		<string>iivowelsignreph3deva</string>
		<string>iivowelsignrephanusvara1deva</string>
		<string>iivowelsignrephanusvara2deva</string>
		<string>iivowelsignrephanusvara3deva</string>
		<string>iivowelsignrephanusvaradeva</string>
		<string>iivowelsignrephdeva</string>
		<string>inuktadeva</string>
		<string>ivowelsign00deva</string>
		<string>ivowelsign01deva</string>
		<string>ivowelsign02deva</string>
		<string>ivowelsign03deva</string>
		<string>ivowelsign04deva</string>
		<string>ivowelsign05deva</string>
		<string>ivowelsign06deva</string>
		<string>ivowelsign07deva</string>
		<string>ivowelsign08deva</string>
		<string>ivowelsign09deva</string>
		<string>ivowelsign10deva</string>
		<string>ivowelsign11deva</string>
		<string>ivowelsignanusvara01deva</string>
		<string>ivowelsignanusvara02deva</string>
		<string>ivowelsignanusvara03deva</string>
		<string>ivowelsignanusvara04deva</string>
		<string>ivowelsignanusvara05deva</string>
		<string>ivowelsignanusvara06deva</string>
		<string>ivowelsignanusvara07deva</string>
		<string>ivowelsignanusvara08deva</string>
		<string>ivowelsignanusvara09deva</string>
		<string>ivowelsignanusvara10deva</string>
		<string>ivowelsignanusvara11deva</string>
		<string>ivowelsignanusvaradeva</string>
		<string>ivowelsigndeva</string>
		<string>ivowelsignreph01deva</string>
		<string>ivowelsignreph02deva</string>
		<string>ivowelsignreph03deva</string>
		<string>ivowelsignreph04deva</string>
		<string>ivowelsignreph05deva</string>
		<string>ivowelsignreph06deva</string>
		<string>ivowelsignreph07deva</string>
		<string>ivowelsignreph08deva</string>
		<string>ivowelsignreph09deva</string>
		<string>ivowelsignreph10deva</string>
		<string>ivowelsignreph11deva</string>
		<string>ivowelsignrephanusvara01deva</string>
		<string>ivowelsignrephanusvara02deva</string>
		<string>ivowelsignrephanusvara03deva</string>
		<string>ivowelsignrephanusvara04deva</string>
		<string>ivowelsignrephanusvara05deva</string>
		<string>ivowelsignrephanusvara06deva</string>
		<string>ivowelsignrephanusvara07deva</string>
		<string>ivowelsignrephanusvara08deva</string>
		<string>ivowelsignrephanusvara09deva</string>
		<string>ivowelsignrephanusvara10deva</string>
		<string>ivowelsignrephanusvara11deva</string>
		<string>ivowelsignrephanusvaradeva</string>
		<string>ivowelsignrephdeva</string>
		<string>j</string>
		<string>jabardeva</string>
		<string>jadeva</string>
		<string>januktaprehalfdeva</string>
		<string>januktaradeva</string>
		<string>januktaraprehalfdeva</string>
		<string>janyadeva</string>
		<string>janyaprehalfdeva</string>
		<string>janyaradeva</string>
		<string>janyaraprehalfdeva</string>
		<string>japrehalfdeva</string>
		<string>jaradeva</string>
		<string>jaraprehalfdeva</string>
		<string>jhadeva</string>
		<string>jhanuktadeva</string>
		<string>jhanuktaprehalfdeva</string>
		<string>jhanuktaradeva</string>
		<string>jhanuktaraprehalfdeva</string>
		<string>jhaprehalfdeva</string>
		<string>jharadeva</string>
		<string>jharaprehalfdeva</string>
		<string>k</string>
		<string>kadeva</string>
		<string>kanuktaprehalfdeva</string>
		<string>kanuktaradeva</string>
		<string>kanuktaraprehalfdeva</string>
		<string>kaprehalfdeva</string>
		<string>karadeva</string>
		<string>karaprehalfdeva</string>
		<string>kassadeva</string>
		<string>kassaprehalfdeva</string>
		<string>kassaradeva</string>
		<string>kassaraprehalfdeva</string>
		<string>katadeva</string>
		<string>khadeva</string>
		<string>khanuktaprehalfdeva</string>
		<string>khanuktaradeva</string>
		<string>khanuktaraprehalfdeva</string>
		<string>khaprehalfdeva</string>
		<string>kharadeva</string>
		<string>kharaprehalfdeva</string>
		<string>khhadeva</string>
		<string>l</string>
		<string>laaltdevaMAR</string>
		<string>ladeva</string>
		<string>ladevaMAR</string>
		<string>lanuktaaltdevaMAR</string>
		<string>lanuktadeva</string>
		<string>lanuktadevaMAR</string>
		<string>lanuktaprehalfdeva</string>
		<string>lanuktaradeva</string>
		<string>lanuktaradevaMAR</string>
		<string>lanuktaraprehalfdeva</string>
		<string>laprehalfdeva</string>
		<string>laradeva</string>
		<string>laradevaMAR</string>
		<string>laraprehalfdeva</string>
		<string>less.deva</string>
		<string>llaaltdeva</string>
		<string>lladeva</string>
		<string>llanuktaprehalfdeva</string>
		<string>llanuktaradeva</string>
		<string>llanuktaraprehalfdeva</string>
		<string>llaprehalfdeva</string>
		<string>llaradeva</string>
		<string>llaraprehalfdeva</string>
		<string>lllaaltdeva</string>
		<string>llladeva</string>
		<string>llvocalicdeva</string>
		<string>llvocalicnuktadeva</string>
		<string>llvocalicvowelsigndeva</string>
		<string>llvocalicvowelsignleftdeva</string>
		<string>llvocalicvowelsignlowdeva</string>
		<string>llvocalicvowelsignnuktadeva</string>
		<string>llvocalicvowelsignnuktaleftdeva</string>
		<string>lvocalicdeva</string>
		<string>lvocalicnuktadeva</string>
		<string>lvocalicvowelsigndeva</string>
		<string>lvocalicvowelsignleftdeva</string>
		<string>lvocalicvowelsignlowdeva</string>
		<string>lvocalicvowelsignnuktadeva</string>
		<string>lvocalicvowelsignnuktaleftdeva</string>
		<string>m</string>
		<string>madeva</string>
		<string>manuktadeva</string>
		<string>manuktaprehalfdeva</string>
		<string>manuktaradeva</string>
		<string>manuktaraprehalfdeva</string>
		<string>maprehalfdeva</string>
		<string>maradeva</string>
		<string>maraprehalfdeva</string>
		<string>minus.deva</string>
		<string>multiply.deva</string>
		<string>n</string>
		<string>nadeva</string>
		<string>nanuktaprehalfdeva</string>
		<string>nanuktaradeva</string>
		<string>nanuktaraprehalfdeva</string>
		<string>naprehalfdeva</string>
		<string>naradeva</string>
		<string>naraprehalfdeva</string>
		<string>ngaaltdeva</string>
		<string>ngadeva</string>
		<string>nganuktaaltdeva</string>
		<string>nganuktadeva</string>
		<string>nganuktaprehalfdeva</string>
		<string>nganuktaradeva</string>
		<string>nganuktaraprehalfUIdeva</string>
		<string>nganuktaraprehalfdeva</string>
		<string>ngaprehalfdeva</string>
		<string>ngaradeva</string>
		<string>ngaraprehalfUIdeva</string>
		<string>ngaraprehalfdeva</string>
		<string>ngayadeva</string>
		<string>nine.deva</string>
		<string>ninedeva</string>
		<string>nnadeva</string>
		<string>nnanuktadeva</string>
		<string>nnanuktaprehalfdeva</string>
		<string>nnanuktaradeva</string>
		<string>nnanuktaraprehalfdeva</string>
		<string>nnaprehalfdeva</string>
		<string>nnaradeva</string>
		<string>nnaraprehalfdeva</string>
		<string>nnnadeva</string>
		<string>nonmarkingreturn</string>
		<string>nukta2deva</string>
		<string>nuktadeva</string>
		<string>nuktasmalldeva</string>
		<string>numbersign.deva</string>
		<string>nyadeva</string>
		<string>nyanuktadeva</string>
		<string>nyanuktaprehalfdeva</string>
		<string>nyanuktaradeva</string>
		<string>nyanuktaraprehalfdeva</string>
		<string>nyaprehalfdeva</string>
		<string>nyaradeva</string>
		<string>nyaraprehalfdeva</string>
		<string>o</string>
		<string>oanusvaradeva</string>
		<string>ocandraanusvaradeva</string>
		<string>ocandradeva</string>
		<string>ocandranuktaanusvaradeva</string>
		<string>ocandranuktadeva</string>
		<string>ocandravowelsignanusvaradeva</string>
		<string>ocandravowelsigncandrabindudeva</string>
		<string>ocandravowelsigndeva</string>
		<string>ocandravowelsignrephanusvaradeva</string>
		<string>ocandravowelsignrephanusvardeva</string>
		<string>ocandravowelsignrephdeva</string>
		<string>odeva</string>
		<string>omdeva</string>
		<string>one.deva</string>
		<string>onedeva</string>
		<string>onuktaanusvaradeva</string>
		<string>onuktadeva</string>
		<string>oshortanusvaradeva</string>
		<string>oshortdeva</string>
		<string>oshortnuktaanusvaradeva</string>
		<string>oshortnuktadeva</string>
		<string>oshortvowelsignanusvaradeva</string>
		<string>oshortvowelsigncandrabindudeva</string>
		<string>oshortvowelsigndeva</string>
		<string>oshortvowelsignrephanusvaradeva</string>
		<string>oshortvowelsignrephdeva</string>
		<string>ovowelsignanusvaradeva</string>
		<string>ovowelsigncandrabindudeva</string>
		<string>ovowelsigndeva</string>
		<string>ovowelsignrephanusvaradeva</string>
		<string>ovowelsignrephdeva</string>
		<string>p</string>
		<string>padeva</string>
		<string>panadeva</string>
		<string>panuktadeva</string>
		<string>panuktaprehalfdeva</string>
		<string>panuktaradeva</string>
		<string>panuktaraprehalfdeva</string>
		<string>paprehalfdeva</string>
		<string>paradeva</string>
		<string>paraprehalfdeva</string>
		<string>parenleft.deva</string>
		<string>parenright.deva</string>
		<string>percent.deva</string>
		<string>period.deva</string>
		<string>phadeva</string>
		<string>phanuktaprehalfdeva</string>
		<string>phanuktaradeva</string>
		<string>phanuktaraprehalfdeva</string>
		<string>phaprehalfdeva</string>
		<string>pharadeva</string>
		<string>pharaprehalfdeva</string>
		<string>plus.deva</string>
		<string>q</string>
		<string>qadeva</string>
		<string>question.deva</string>
		<string>quotedbl.deva</string>
		<string>quotedblleft.deva</string>
		<string>quotedblright.deva</string>
		<string>quoteleft.deva</string>
		<string>quoteright.deva</string>
		<string>quotesingle.deva</string>
		<string>r</string>
		<string>radeva</string>
		<string>ranuktaprehalfdeva</string>
		<string>ranuktaradeva</string>
		<string>ranuktaraprehalfdeva</string>
		<string>ranuktaudeva</string>
		<string>ranuktauudeva</string>
		<string>raprehalfdeva</string>
		<string>raradeva</string>
		<string>raraprehalfdeva</string>
		<string>raudeva</string>
		<string>rauudeva</string>
		<string>rephanusvaradeva</string>
		<string>rephdeva</string>
		<string>rhaaltdeva</string>
		<string>rhadeva</string>
		<string>rradeva</string>
		<string>rrvocalicdeva</string>
		<string>rrvocaliclowdeva</string>
		<string>rrvocalicnuktadeva</string>
		<string>rrvocalicvowelsigndeva</string>
		<string>rrvocalicvowelsignnuktadeva</string>
		<string>rrvocalicvowelsignnuktaleftdeva</string>
		<string>rvocalicdeva</string>
		<string>rvocalicnuktadeva</string>
		<string>rvocalicvowelsigndeva</string>
		<string>rvocalicvowelsignlowdeva</string>
		<string>rvocalicvowelsignnuktadeva</string>
		<string>rvocalicvowelsignnuktaleftdeva</string>
		<string>s</string>
		<string>sadeva</string>
		<string>sanuktadeva</string>
		<string>sanuktaprehalfdeva</string>
		<string>sanuktaradeva</string>
		<string>sanuktaraprehalfdeva</string>
		<string>saprehalfdeva</string>
		<string>saradeva</string>
		<string>saraprehalfdeva</string>
		<string>semicolon.deva</string>
		<string>seven.deva</string>
		<string>sevendeva</string>
		<string>sfthyphen.deva</string>
		<string>shacadeva</string>
		<string>shacaprehalfdeva</string>
		<string>shadeva</string>
		<string>shadevaMAR</string>
		<string>shaladeva</string>
		<string>shaladevaMAR</string>
		<string>shanadeva</string>
		<string>shanuktadeva</string>
		<string>shanuktadevaMAR</string>
		<string>shanuktaprehalfdeva</string>
		<string>shanuktaprehalfdevaMAR</string>
		<string>shanuktaradeva</string>
		<string>shanuktaraprehalfdeva</string>
		<string>shaprehalfaltdeva</string>
		<string>shaprehalfdeva</string>
		<string>shaprehalfdevaMAR</string>
		<string>sharadeva</string>
		<string>sharaprehalfdeva</string>
		<string>shavadeva</string>
		<string>shavaprehalfdeva</string>
		<string>six.deva</string>
		<string>sixdeva</string>
		<string>slash.deva</string>
		<string>space</string>
		<string>ssadeva</string>
		<string>ssanuktadeva</string>
		<string>ssanuktaprehalfdeva</string>
		<string>ssanuktaradeva</string>
		<string>ssanuktaraprehalfdeva</string>
		<string>ssaprehalfdeva</string>
		<string>ssaradeva</string>
		<string>ssaraprehalfdeva</string>
		<string>ssattadeva</string>
		<string>ssattaradeva</string>
		<string>ssatthadeva</string>
		<string>ssattharadeva</string>
		<string>t</string>
		<string>tadeva</string>
		<string>tanuktadeva</string>
		<string>tanuktaprehalfdeva</string>
		<string>tanuktaradeva</string>
		<string>tanuktaraprehalfdeva</string>
		<string>taprehalfdeva</string>
		<string>taradeva</string>
		<string>taraprehalfdeva</string>
		<string>tatadeva</string>
		<string>tataprehalfdeva</string>
		<string>thadeva</string>
		<string>thanuktadeva</string>
		<string>thanuktaprehalfdeva</string>
		<string>thanuktaradeva</string>
		<string>thanuktaraprehalfdeva</string>
		<string>thaprehalfdeva</string>
		<string>tharadeva</string>
		<string>tharaprehalfdeva</string>
		<string>three.deva</string>
		<string>threedeva</string>
		<string>ttaaltdeva</string>
		<string>ttadeva</string>
		<string>ttanuktaaltdeva</string>
		<string>ttanuktadeva</string>
		<string>ttanuktaprehalfdeva</string>
		<string>ttanuktaradeva</string>
		<string>ttanuktaraprehalfUIdeva</string>
		<string>ttanuktaraprehalfdeva</string>
		<string>ttaprehalfdeva</string>
		<string>ttaradeva</string>
		<string>ttaraprehalfUIdeva</string>
		<string>ttaraprehalfdeva</string>
		<string>ttattadeva</string>
		<string>ttattauudeva</string>
		<string>ttatthadeva</string>
		<string>ttatthauudeva</string>
		<string>ttayadeva</string>
		<string>tthaaltdeva</string>
		<string>tthadeva</string>
		<string>tthanuktaaltdeva</string>
		<string>tthanuktadeva</string>
		<string>tthanuktaprehalfdeva</string>
		<string>tthanuktaradeva</string>
		<string>tthanuktaraprehalfUIdeva</string>
		<string>tthanuktaraprehalfdeva</string>
		<string>tthaprehalfdeva</string>
		<string>ttharadeva</string>
		<string>ttharaprehalfUIdeva</string>
		<string>ttharaprehalfdeva</string>
		<string>tthatthadeva</string>
		<string>tthayadeva</string>
		<string>two.deva</string>
		<string>twodeva</string>
		<string>u</string>
		<string>udattadeva</string>
		<string>udeva</string>
		<string>underscore.deva</string>
		<string>uni02BC</string>
		<string>uni0953</string>
		<string>uni0954</string>
		<string>uni0971</string>
		<string>uni097D</string>
		<string>uni200B</string>
		<string>uni200C</string>
		<string>uni200D</string>
		<string>uni20B9.deva</string>
		<string>uni25CC</string>
		<string>unuktadeva</string>
		<string>uudeva</string>
		<string>uunuktadeva</string>
		<string>uuvowelsigndeva</string>
		<string>uuvowelsignlowdeva</string>
		<string>uuvowelsignnuktadeva</string>
		<string>uuvowelsignnuktaleftdeva</string>
		<string>uvowelsigndeva</string>
		<string>uvowelsignlowdeva</string>
		<string>uvowelsignnarrowdeva</string>
		<string>uvowelsignnuktadeva</string>
		<string>uvowelsignnuktaleftdeva</string>
		<string>v</string>
		<string>vadeva</string>
		<string>vanuktadeva</string>
		<string>vanuktaprehalfdeva</string>
		<string>vanuktaradeva</string>
		<string>vanuktaraprehalfdeva</string>
		<string>vaprehalfdeva</string>
		<string>varadeva</string>
		<string>varaprehalfdeva</string>
		<string>vattudeva</string>
		<string>vattullvocalicdeva</string>
		<string>vattulvocalicdeva</string>
		<string>vatturrvocalicdeva</string>
		<string>vatturvocalicdeva</string>
		<string>vatturvocaliclowdeva</string>
		<string>vatturvocaliclownuktadeva</string>
		<string>vattuudeva</string>
		<string>vattuulowdeva</string>
		<string>vattuulownuktadeva</string>
		<string>vattuuudeva</string>
		<string>vattuuulowdeva</string>
		<string>vattuuulownuktadeva</string>
		<string>vattuviramadeva</string>
		<string>vattuviramalowdeva</string>
		<string>vattuviramalownuktadeva</string>
		<string>vayadeva</string>
		<string>viramadeva</string>
		<string>viramalowdeva</string>
		<string>viramanuktadeva</string>
		<string>visargadeva</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yadeva</string>
		<string>yanuktaprehalfdeva</string>
		<string>yanuktaradeva</string>
		<string>yanuktaraprehalfdeva</string>
		<string>yaprehalfdeva</string>
		<string>yaradeva</string>
		<string>yaraprehalfdeva</string>
		<string>yyadeva</string>
		<string>z</string>
		<string>zadeva</string>
		<string>zero.deva</string>
		<string>zerodeva</string>
	</array>
</dict>
</plist>
